body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	margin: 0;
	padding: 0;
}

header {
	background: #333;
	color: #fff;
	padding: 1rem 0;
}

	header ul {
		list-style: none;
		display: flex;
		justify-content: center;
		padding: 0;
	}

		header ul li {
			margin: 0 15px;
		}

			header ul li a {
				color: #fff;
				text-decoration: none;
			}
main {
	padding-bottom: 70px;
}
section {
	padding: 20px;
}

footer {
	text-align: center;
	padding: 10px;
	background: #333;
	color: white;
	position: fixed;
	width: 100%;
	bottom: 0;
}
